# service.yaml
apiVersion: v1
kind: Service
metadata:
  name: file-server
  namespace: file-server
spec:
  selector:
    app: file-server
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      name: http
  type: ClusterIP